<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maldoc generator</title>
</head>
<body>

<form action="/p/win/word_form/get" method="POST">
    <h1>Maldoc generator</h1>
    <label>
        Type:
        <select name="type" id="type">
            <option value="aes_shellcode_revshell">VBA aes revshell</option>
            <option value="aes_shellcode_pingback">VBA aes ping back (ping.exe)</option>
            <option value="vba_shellcode">VBA with shellcode</option>
            <!-- <option value="powershell_runner">Powershell runner</option>
            <option value="powershell_wmi">Powershell via WMI</option>
            <option value="callback">Callback with version</option>
            <option value="messagebox">Show a messagebox</option>
            <option value="messagebox_msf">Show a messagebox via MSF shellcode</option> -->
        </select>
    </label>
    <label>
        Stomp VBA to version:
        <select name="stomp_version" id="stomp_version">
            <option value="" selected>Don't stomp</option>
            <option value="2010x86">Office 2010 x86</option>
            <!-- <option value="2010x64">Office 2010 x64</option> -->
            <option value="2013x86">Office 2013 x86</option>
            <option value="2013x64">Office 2013 x64</option>
            <option value="2016x86">Office 2016 x86</option>
            <option value="2016x64">Office 2016 x64</option>
            <option value="2019x86">Office 2019 x86</option>
            <option value="2019x64">Office 2019 x64</option>
        </select>
    </label>
    <label>
        Use system proxy:
        <input type="checkbox" name="system_proxy">
    </label>
    <label>
        LHOST:
        <input type="text" name="lhost" value=""/>
    </label>
    <label>
        LPORT:
        <input type="text" name="lport" value=""/>
    </label>
    <label>
        Payload ID:
        <input type="text" name="id" value=""/>
    </label>
    <button type="submit">Gimme!</button>
</form>

<form action="/p/win/hta/get" method="POST">
    <h1>HTA generator</h1>
    <label>
        LHOST:
        <input type="text" name="lhost" value=""/>
    </label>
    <label>
        LPORT:
        <input type="text" name="lport" value=""/>
    </label>
    <label>
        Use system proxy:
        <input type="checkbox" name="system_proxy">
    </label>
    <label>
        Payload ID:
        <input type="text" name="id" value=""/>
    </label>
    <button type="submit">Gimme!</button>
</form>

<h1>Powershell command generator</h1>
<label>
    LHOST:
    <input type="text" name="lhost" value="" id="ps_lhost"/>
</label>
<label>
    LPORT:
    <input type="text" name="lport" value="" id="ps_lport"/>
</label>
<label>
    Use system proxy:
    <input type="checkbox" name="system_proxy" id="ps_system"/>
</label>
<label>
    Payload ID:
    <input type="text" name="id" value="" id="ps_id"/>
</label>
<button id="ps_submit">Gimme!</button>

<br>

Output: <br>
<textarea id="ps_command" cols="80" rows="20"></textarea>

<script>
    document.getElementById('ps_submit').addEventListener('click', function() {
        // Get values from input fields
        const lhost = document.getElementById('ps_lhost').value;
        const lport = document.getElementById('ps_lport').value;
        const proxy = document.getElementById('ps_system').checked;
        const ps_id = document.getElementById('ps_id').value;

        // Create data object
        const data = {
            lhost: lhost,
            lport: lport,
            system_proxy: proxy,
            id: ps_id
        };

        // Create FormData object
        const formData = new FormData();
        formData.append('lhost', lhost);
        formData.append('lport', lport);
        if (proxy) { formData.append('system_proxy', proxy); }
        formData.append('id', ps_id);

        // Display loading message
        const resultArea = document.getElementById('ps_command');
        resultArea.value = 'Sending request...';

        // Perform POST request
        fetch('/p/win/ps/get_command', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok: ' + response.statusText);
            }
            return response.text();
        })
        .then(data => {
            // Display result
            resultArea.value = data;
        })
        .catch(error => {
            // Display error
            resultArea.value = 'Error: ' + error.message;
        });
    });
</script>

</body>
</html>